{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Pur Beurre{% endblock title %}</title>

        <!-- Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dist/assets/img/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/assets/img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/assets/img/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'dist/assets/img/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'dist/assets/img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% block styles %}
        <!-- Google fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />

        <style> 
        header.masthead {
            background-image: 
                linear-gradient(to bottom, rgba(99, 91, 85, 0.75), rgba(99, 91, 85, 0.75)),
                {% block masthead_img %}url("{% static 'dist/assets/img/bg-masthead.jpg' %}");{% endblock masthead_img %}
        }
        </style>
        

        {% endblock styles %}
        <!-- Font Awesome icons (free version)-->
        {% block head_scripts %}
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        {% endblock head_scripts %}
    </head>
    <body id="page-top" class="d-flex flex-column">
        <!-- Navigation-->
        {% block navigation %}
        <nav class="navigation navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <img class="navigation--logo" src="{% static 'dist/assets/img/logo.png' %}" alt="logo purbeurre">
                <a class="navigation brandnavbar-brand js-scroll-trigger" href="{% url 'pages:home' %}">Pur Beurre</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navigation--menu navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <form class="search-form" action="{% url 'products:search' %}" method="get">
                                {{ search_form|crispy }}
                            </form>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'profiles:user_profile' %}"><i id="menu--user" class="menu--user fas fa-user"></i></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'favorites:list' %}"><i id="menu--carrot" class="menu--carrot fas fa-carrot"></i></a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_logout' %}"><i id="menu--logout" class="menu--logout fas fa-sign-out-alt"></i></a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}"><i id="menu--login" class="menu--login fas fa-sign-in-alt"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock navigation %}

        {% include 'messages.html' %}

        <!-- Masthead-->
        {% block masthead %}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">{% block masthead_title %}{% endblock masthead_title %}</h1>
                        <hr class="divider my-4" />
                    </div>
                </div>
            </div>
        </header>
        {% endblock masthead %}

        {% block content %}
        {% endblock content%}

        <!-- Footer-->
        {% block footer %}
        <footer class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <a href="{% url 'pages:legal' %}">mentions légales</a>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <a href="{% url 'pages:home' %}#contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}

        {% block bottom_scripts %}
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'dist/js/scripts.js' %}"></script>
        {% endblock bottom_scripts %}
    </body>
</html>
