[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
selenium = "*"
tchappui-webdrivers = "*"

[packages]
django = "*"
django-extensions = "*"
requests = "*"
python-dotenv = "*"
django-crispy-forms = "*"
werkzeug = "*"
django-allauth = "*"
gunicorn = "*"
django-heroku = {version = "*", markers="'-aws' in platform_release"}
install = "*"
sentry-sdk = "*"
dj-database-url = "*"
dj-email-url = "*"
psycopg2 = "*"

[requires]
