// Custom utilities for this theme

.text-white-75 {
    color: fade-out($white, 0.25);
}

.bg__nutriscore__a {
    background-color: $nutriscore-a;
}

.bg__nutriscore__b {
    background-color: $nutriscore-b;
}

.bg__nutriscore__c {
    background-color: $nutriscore-c;
}

.bg__nutriscore__d {
    background-color: $nutriscore-d;
}

.bg__nutriscore__e {
    background-color: $nutriscore-e;
}