// Variables

//- Override and add to color system
$rooibos: #C45525;
$moules: #345A61;
$rigolo: #86EBE6;
$caramel: #DE9440;
$biscuit: #E8A75D;

$orange: $rooibos;

// - Nutriscore color codes
$nutriscore-a: #387e48;
$nutriscore-b: #91b949;
$nutriscore-c: #f6cc46;
$nutriscore-d: #e08631;
$nutriscore-e: #d44b29;

//- Override primary color
$primary: $orange;
$success: $moules;

//- Override font system
$font-family-base: "Scope One", sans-serif;
$headings-font-family: "Open Sans", sans-serif;

//- Add custom variables
$navbar-height: 4.5rem;
